# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

processing/GraphParser/data/bw/
processing/GraphParser/data/with_graph_line/
processing/GraphParser/data/with_x_axis/
score/score.pdf
score/a.ly
score/b.ly
score/c.ly
score/d.ly
score/e.ly
score/f.ly
score/g.ly
score/h.ly
score/i.ly
score/j.ly
score/k.ly
score/l.ly
score/m.ly
score/n.ly
score/o.ly
score/p.ly
score/q.ly
score/r.ly
score/s.ly
score/t.ly
score/u.ly
score/v.ly
score/w.ly
score/x.ly
score/y.ly
score/z.ly
score/scores/
